<!--Navigation-->
<section class="container h-screen bg-blacktext-white gradient">
  <nav class="flex items-center justify-between flex-wrap">
    <div class="flex items-center flex-shrink-0 mr-6">
      <img class="fill-current h-16 w-16 mr-2" width="54" height="54" src="/assets/SK_logo.png" alt="" width="384" height="512">
    </div>
    <div class="block md:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-red-500 border-red-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:w-auto">
      <div class="text-sm lg:flex-grow lg:flex lg:justify-end">
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-red-500 hover:text-white mr-4">
          About
        </a>
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-red-500 hover:text-white mr-4">
          Skills
        </a>
        <a href="#responsive-header" class="block mt-4 lg:inline-block  lg:mt-0 text-red-500 hover:text-white mr-4">
          Works
        </a>
        <a href="#responsive-header" class="block mt-4 lg:inline-block  lg:mt-0 text-red-500 hover:text-white mr-4">
          Contact
        </a>
      </div>
    </div>
  </nav>
  <!--Welcome-->
  <div class="container p-20">
    <div class="text-white text-7xl font-orbitron">hello!</div>
    <div class="text-red-500 text-8xl font-BlackOpsOne mt-7">I'm Sasi</div>
    <div class="text-red-500 text-2xl font-orbitron tracking-customwidest typewriter">frontend developer</div>
    <div class="mt-5">
      <button class="bg-black-300 hover:bg-red-500  text-white border border-red-500 font-bold py-2 px-4 rounded-full inline-flex items-center">
        <span>Download CV </span>
      </button>
      <div class="ml-5 inline-flex justify-evenly relative bottom-2.5 h-10 w-10 bg-black border-red-500 hover:bg-red-500 border rounded-full">
        <i class="fab fa-linkedin-in text-white  relative top-3"></i>
      </div>
      <div class="ml-5 inline-flex justify-evenly relative bottom-2.5 h-10 w-10 bg-black border-red-500 hover:bg-red-500 border rounded-full">
        <i class="fab fa-instagram text-white  relative top-3"></i>
      </div>
      <div class="ml-5 inline-flex justify-evenly relative bottom-2.5 h-10 w-10 bg-black border-red-500 hover:bg-red-500 border rounded-full">
        <i class="fab fa-twitter text-white  relative top-3"></i>
      </div>
      <div class="ml-5 inline-flex justify-evenly relative bottom-2.5 h-10 w-10 bg-black border-red-500 hover:bg-red-500 border rounded-full">
        <i class="fab fa-github-alt text-white  relative top-3"></i>
      </div>
    </div>
  </div>
  <div class="relative -mt-12">
    <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
          <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
          <path
            d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
            opacity="0.100000001"
          ></path>
          <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" id="Path-4" opacity="0.200000003"></path>
        </g>
        <g transform="translate(-4.000000, 76.000000)" fill="#000" fill-rule="nonzero">
          <path
            d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"
          ></path>
        </g>
      </g>
    </svg>
  </div>
</section>

<!--About Me-->
<section class="container bg-black p-10 ">
  <div class="flex flex-col items-center">
    <figure class="bg-white rounded-r-xl sm:rounded-xl overflow-hidden flex h-68">
      <img class="w-32 h-32 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto" src="/assets/sasi.jpg" alt="" width="384" height="512">
      <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
        <blockquote>
          <p class="text-lg font-bold font-orbitron text-red-500 ">#whoami</p>
          <p class="text-lg font-semibold font-orbitron">
            "I'm a Front-End Developer for Infosys in Melbourne, VIC.
            I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.”
          </p>
        </blockquote>
      </div>
    </figure>
  </div>
</section>
<!--Skills-->
<section class="container bg-black">
  <div class="p-10 flex justify-evenly">
    <ul *ngFor="let skill of skills; let odd = odd">
      <li  [attr.data-aos]="odd ? 'fade-down' : 'fade-up'" class="w-64 h-48 bg-white rounded-r-xl sm:rounded-xl overflow-hidden block h-68 m-4 p-5 text-center">
        <i class="{{skill.image}} text-red-500 fa-4x"></i>
        <p class="font-Raleway font-bold text-2xl mt-2">{{skill.title}}</p>
        <p class="font-Raleway">{{skill.text}}</p>
      </li>
    </ul>
  </div>
</section>
<!--My Woerks-->
<section class="container bg-black p-10">
  <div>
    <img class="h-32 w-48 md:h-auto md:rounded-none rounded-full" src="/assets/infosyss.png" alt="" width="384" height="512">
  </div>
  <div class="text-white relative bottom-5 left-9">
    7 Years 8 Months
  </div>
  <div class="flex justify-evenly">
    <div class="flex-col">
      <ul *ngFor="let experience of experiences; let i = index">
        <li class="w-64 h-20 text-sm border-solid text-white border-l-2 border-red-500 overflow-hidden text-center cursor-pointer hover:text-red-500 hover:border-white" (click)="selectRole(experience.title, i)" [ngClass]="{'text-red-500 hover:text-white border-purple-50': i === selectedRole}">
          <p class="font-Raleway font-bold">{{experience.title}}</p>
          <p class="font-Raleway">{{experience.text}}</p>
          <p class="font-Raleway">{{experience.from}} - {{experience.to}}</p>
        </li>
      </ul>
    </div>
    <div class="bg-white rounded-r-xl sm:rounded-xl overflow-hidden h-80 w-5/6 ml-2">
      <div class="pt-6 md:p-8 text-center md:text-left">
        <p class="text-lg font-bold">{{subTitle}}<span class="text-red-500"> @{{project}}</span></p>
        <p>{{expFrom}} - {{expTo}}</p>
        <ol class="mt-2" *ngFor="let description of descriptionList">
          <li><i class="inline fa fa-suitcase fa-xs"></i> {{description}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="container bg-black">
  <header>
    <div class="flex flex-col items-center">
      <div class="text-6xl font-Raleway font-bold text-red-500">Get in Touch</div>
    </div>
  </header>
  <div class="p-10 text-white text-center w-2/4 m-auto">
    Although I’m not currently looking for any new opportunities, my inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!
    <button class="bg-black-300  hover:bg-red-500  text-white border border-red-500 font-bold py-2 px-14 rounded-full block m-auto mt-8">
      <span>Say Hello</span>
    </button>
  </div>
</section>
<section class="container bg-black">
  <div class="pt-10 text-white text-center w-2/4 m-auto">
    Designed & Built by SasiKumar
  </div>
  <ul class="text-red-500 flex justify-center space-x-5 pb-10">
    <li><i class="fab fa-github"></i></li>
    <li><i class="fab fa-instagram"></i></li>
    <li><i class="fab fa-twitter"></i></li>
    <li><i class="fab fa-linkedin-in"></i></li>
  </ul>
</section>
